{% extends "cscbase/base.html" %}
{% load static %}
{% block script %}
<script src="{% static 'js/charts.js'%}"></script>
{% endblock %}
{% block content %}
{% csrf_token %}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
        <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-2 mr-5">Analise de Dados</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            {% comment %} <a href="{% url 'viagens:index' %}" class="text-muted">Grupo Csc</a> {% endcomment %}
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-custom gutter-b bg-white mt-10">
    <div class="card-body">
        <div class="accordion accordion-light accordion-toggle-arrow" id="accordionExample2">
            <!-- Gráfico vai ser renderizado aqui -->
            <div class="card mt-5">
                <div class="card-header" id="headingOne2">
                    <div class="d-flex align-items-center">
                        <!-- Formulário dentro do cabeçalho -->
                        <div class="form-group mb-0 mr-2">
                            <label for="start_date" class="sr-only">Data de Início:</label>
                            <input type="date" id="start_date" name="start_date" class="form-control" required>
                        </div>
                        <div class="form-group mb-0 mr-2">
                            <label for="end_date" class="sr-only">Data de Fim:</label>
                            <input type="date" id="end_date" name="end_date" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-filter"></i> Filtrar
                        </button>
                    </div>
                    <div class="card-title mt-2" data-toggle="collapse" data-target="#collapseOne2">
                        Gráfico
                    </div>
                </div>
                <div id="chart_2" class="d-flex justify-content-center"></div>
            </div>
        </div>
    </div>
</div>


<div class="card card-custom gutter-b bg-white mt-10">
    <div class="card-body">
        <div class="form-group row justify-content-end align-items-center mb-4">
            <div class="col-md-2">
                <label for="start_date_tab">Data de Início:</label>
                <input type="date" id="start_date_tab" name="start_date_tab" class="form-control" required>
            </div>
            <div class="col-md-2">
                <label for="end_date_tab">Data de Fim:</label>
                <input type="date" id="end_date_tab" name="end_date_tab" class="form-control" required>
            </div>
            <div class="col-md-2 text-right">
                <!-- Botão com ícone -->
                <button id="filtrar_periodo" class="btn btn-primary mt-4">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
            </div>
        </div>
        
        <table class="table table-head-custom" id="kt_csc_trans">
            <thead>
                <tr>
                    <th>ID Motorista</th>
                    <th>Total de Viagens</th>
                    <th>Tempo total de viagens</th>
                    <th>Combustível utilizado</th>
                    <th>Total de Excesso de Velocidade</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table> 
    </div>
</div>




{% endblock %} 